/*---------------------------
    Fonts
----------------------------*/

// fonts
$base-font-size: 15;
$base-font: "Inter", sans-serif;
$base-font-s2: "Edu AU VIC WA NT Hand", system-ui;
$heading-font: "Nunito", sans-serif;

// color
$dark-gray: #061408;
$body-color: #687693;
$white: #fff;
$light: #8188a9;
$black: #000;
$small-black:  #F4F6F8;
$cyan: #000;

// Keeping the original orange for the primary theme color.
$theme-primary-color:#F74F22;
// Changing the dark green to the light baby blue from the Ghines logo.
$theme-primary-color-s2: #000; // New baby blue color
$body-bg-color: #fff;
$section-bg-color: #F1EBE9;
$text-color: #535353;
$text-light-color: #676767;
// Changing the dark gray to a vibrant green from the Ghines logo.
$heading-color: #000; // New vibrant green color
$border-color: #DFDFDF;
$border-color-s2: #DEDEDE;